%bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
%primary-font-settings {
  font-size: 14px;
  line-height: 17px;
}
%secondary-font-settings {
  font-size: 15px;
  line-height: 24px;
}
%flex-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-center {
  display: flex;
  justify-content: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}
%flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%pseudo {
  display: block;
  content: '';
}
