// COLORS
$main-color: #1ab798;
$secondary-main-color: #0eb493;
$overlay-color: #0eb493cc;
$overlay-dark-color:#0000004d;
$background-color: #31d4e7;
$icon-video-color: #0098cd;
$fb-color: #3b5997;
$tw-colors: #3ec2f3;
$in-color: #007ab9;
$border-color: #c4c7c7;

// text colors
$main-text-color: #ffffff;
$footer-text-color: #ffffff80;
$text-title-color: #282528;
$secondary-text-color: #28252899;
$tertiary-color: #646464;
$titel-name-color: #062033;
$text-name-color: #0620338f;
$description-team-color: #051f32cc;
$text-color: #212121;
$elements-color: #babdc1;
$secondary-elements-color: #efefef;
$pseudo-color: #535b6466;
$placeholder-text-color: #c1c1c1;


// FONTS
$text-font: 'OpenSansR';
$main-title-font: 'OpenSansSB';
$text-title: 'OpenSansB';
$secondary-font: 'RalewayR';
$header-font: 'RalewaySB';
$title-font: 'RalewayB';